---
# tasks file for IaC/k8s/tf/roles/k8sSecondaryMasterNodes
- name: Wait for SSH Connection until the node becomes accessible
  ansible.builtin.include_role:
    name: common
    tasks_from: waitForSshConnection

- name: Gathers facts about remote host setup
  ansible.builtin.include_role:
    name: common
    tasks_from: setup

- name: Wait for Node to complete Cloud Init file deployment
  ansible.builtin.include_role:
    name: common
    tasks_from: cloudInit

- name: Wait for SSH Connection until the node becomes accessible
  ansible.builtin.include_role:
    name: common
    tasks_from: waitForSshConnection

- name: Create Join Token from Master Node
  ansible.builtin.include_role:
    name: k8s
    tasks_from: kubeadmJoin

- name: Join Secondary Master Node
  ansible.builtin.include_role:
    name: k8s
    tasks_from: kubeadmJoinSecondaryMaster
