---
# vars file for IaC/k8s/tf/roles/k8sNodesPrerequisites
k8s:
  modules:
    - { path: "/etc/modules-load.d/k8s.conf", line: "overlay" }
    - { path: "/etc/modules-load.d/k8s.conf", line: "br_netfilter" }
  sysctl:
    - { path: "/etc/sysctl.d/k8s.conf", line: "net.ipv4.ip_forward = 1" }
    - { path: "/etc/sysctl.d/k8s.conf", line: "net.bridge.bridge-nf-call-iptables  = 1" }
    - { path: "/etc/sysctl.d/k8s.conf", line: "net.bridge.bridge-nf-call-ip6tables = 1" }

packages:
  - "apt-transport-https"
  - "ca-certificates"
  - "curl"
  - "libbtrfs-dev"
  - "git"
  - "libassuan-dev"
  - "libglib2.0-dev"
  - "libc6-dev"
  - "libgpgme-dev"
  - "libgpg-error-dev"
  - "libseccomp-dev"
  - "libsystemd-dev"
  - "libselinux1-dev"
  - "pkg-config"
  - "go-md2man"
  - "libudev-dev"
  - "software-properties-common"
  - "gcc"
  - "make"
  - "socat"
  - "cri-o"
  - "kubelet"
  - "kubeadm"
  - "kubectl"
  - "containernetworking-plugins"

cri_o:
  path: "/etc/crio/crio.conf.d/"
  files:
    - "01-metrics.conf"
    - "01-network.conf"
    - "01-log-level.conf"
  cni:
    dest: "/etc/cni/net.d/10-crio-bridge.conflist"
    src: "/etc/cni/net.d/10-crio-bridge.conflist.disabled"

  lines:
    - "[crio.network]"
    - "network_dir=\"/etc/cni/net.d/\""
    - "plugin_dirs=[\"/opt/cni/bin/\",\"/usr/lib/cni/\"]"
  metrics:
    - "[crio.metrics]"
    - "metrics_port = 9090"
    - "enable_metrics = true"

apt_key:
  k8s:
    - { url: "https://pkgs.k8s.io/core:/stable:/v1.30/deb/Release.key", keyring: "/etc/apt/keyrings/kubernetes-apt-keyring.gpg" }
  cri-o:
    - { url: "https://pkgs.k8s.io/addons:/cri-o:/stable:/v1.30/deb/Release.key", keyring: "/etc/apt/keyrings/cri-o-apt-keyring.gpg" }

apt_repository:
  cri-o:
    - { filename: "cri-o.list", repo: "deb [signed-by=/etc/apt/keyrings/cri-o-apt-keyring.gpg] https://pkgs.k8s.io/addons:/cri-o:/stable:/v1.30/deb/ /", update_cache: true }
  k8s:
    - { filename: "kubernetes.list", repo: "deb [signed-by=/etc/apt/keyrings/kubernetes-apt-keyring.gpg] https://pkgs.k8s.io/core:/stable:/v1.30/deb/ /", update_cache: true }

kernelModules:
  - "modprobe overlay"
  - "modprobe br_netfilter"
  - "sysctl --system"