---
# tasks file for IaCaKs/tf/roles/knative
- name: Create Cert Files, Namespaces and always delete Cert Files
  block:
    - name: Create Cert Files
      ansible.builtin.include_role:
        name: common
        tasks_from: cert

    - name: Deploy Knative Manifest(s) to the Cluster
      ansible.builtin.include_role:
        name: k8s
        tasks_from: manifest
      vars:
        src: "{{ knativeOperatorSrc }}"

    - name: Deploy Knative Serving Manifest(s) to the Cluster
      ansible.builtin.include_role:
        name: k8s
        tasks_from: knativeServingK8s

    - name: Deploy Knative Eventing Manifest(s) to the Cluster
      ansible.builtin.include_role:
        name: k8s
        tasks_from: knativeEventingK8s

    - name: Deploy Knative Net-Istio Manifest(s) to the Cluster
      ansible.builtin.include_role:
        name: k8s
        tasks_from: manifest
      vars:
        src: "{{ knativeNetIstioSrc }}"
  always:
    - name: Delete Cert Files
      ansible.builtin.include_role:
        name: common
        tasks_from: removeFile