---
# handlers file for IaC/k8s/tf/roles/highAvailabilityProxy
- name: restart haproxy
  become: true
  ansible.builtin.service:
    name: haproxy
    state: restarted

- name: restart keepalived
  become: true
  ansible.builtin.service:
    name: keepalived
    state: restarted