{
  "cloud": "AzurePublicCloud",
  "tenantId": "${TENANT-ID}",
  "aadClientId": "${AADCLIENT-ID}",
  "aadClientSecret": "${AADCLIENT-SECRET}",
  "subscriptionId": "${SUBSCRIPTION-ID}",
  "resourceGroup": "${RESOURCE-GROUP}",
  "location": "${LOCATION}",
  "subnetName": "${SUBNET-NAME}",
  "securityGroupName": "${SECURITYGROUP-NAME}",
  "securityGroupResourceGroup": "${SECURITYGROUPRESOURCE-GROUP}",
  "vnetName": "${VNET-NAME}",
  "vnetResourceGroup": "${VNETRESOURCE-GROUP}"
}
