---
# tasks file for IaCaKs/tf/roles/knative knativeServingK8s
- name: Create Knative Serving namespace
  kubernetes.core.k8s:
    state: present
    api_version: v1
    kind: Namespace
    definition:
      metadata:
        labels:
          istio-injection: enabled
    host: "{{ host }}"
    name: "{{ knativeServingNamespace }}"
    ca_cert: "{{ cert.ca_cert.dest }}"
    client_key: "{{ cert.client_key.dest }}"
    client_cert: "{{ cert.client_cert.dest }}"

- name: Apply Knative Serving Manifest to the Cluster
  kubernetes.core.k8s:
    state: present
    api_version: operator.knative.dev/v1beta1
    kind: KnativeServing
    definition:
      metadata:
        name: "{{ knativeServingName }}"
        namespace: "{{ knativeServingNamespace }}"
      spec:
        ingress:
          istio:
            enabled: true
            knative-ingress-gateway:
              selector:
                istio: ingressgateway
          config:
            domain:
              "{{ domain }}": ""
    host: "{{ host }}"
    ca_cert: "{{ cert.ca_cert.dest }}"
    client_key: "{{ cert.client_key.dest }}"
    client_cert: "{{ cert.client_cert.dest }}"
