---
# tasks file for IaCaKs/tf/roles/knative knativeEventingK8s
- name: Create Knative Eventing namespace
  kubernetes.core.k8s:
    state: present
    api_version: v1
    kind: Namespace
    definition:
      metadata:
        labels:
          istio-injection: enabled
    host: "{{ host }}"
    name: "{{ knativeEventingNamespace }}"
    ca_cert: "{{ cert.ca_cert.dest }}"
    client_key: "{{ cert.client_key.dest }}"
    client_cert: "{{ cert.client_cert.dest }}"

- name: Apply Knative Eventing Manifest to the Cluster
  kubernetes.core.k8s:
    state: present
    api_version: operator.knative.dev/v1beta1
    kind: KnativeEventing
    definition:
      metadata:
        name: "{{ knativeEventingName }}"
        namespace: "{{ knativeEventingNamespace }}"
    host: "{{ host }}"
    ca_cert: "{{ cert.ca_cert.dest }}"
    client_key: "{{ cert.client_key.dest }}"
    client_cert: "{{ cert.client_cert.dest }}"
