---
# tasks file for IaCaKs/tf/roles/k8s namespace
- name: Create a k8s namespace
  kubernetes.core.k8s:
    state: present
    api_version: v1
    kind: Namespace
    definition:
      metadata:
        labels:
          istio-injection: "{{ istioInjection | default('disabled') }}"
    host: "{{ host }}"
    name: "{{ namespaceName }}"
    ca_cert: "{{ cert.ca_cert.dest }}"
    client_key: "{{ cert.client_key.dest }}"
    client_cert: "{{ cert.client_cert.dest }}"
