---
# tasks file for IaC/k8s/tf/roles/k8s extractKubeConfig
- name: Download Kube Config File
  ansible.builtin.fetch:
    flat: yes
    src: "/etc/kubernetes/admin.conf"
    dest: "{{ kubeConfigDestination | default('~/.kube/config') }}"
  become: true

- name: Change Permissions of Kube Config File
  ansible.builtin.file:
    mode: "0600"
    path: "{{ kubeConfigDestination | default('~/.kube/config') }}"
  delegate_to: localhost
  connection: local
