---
# tasks file for IaC/k8s/tf/roles/k8s Issuer
- name: Create k8s CertManager Issuer(s)
  kubernetes.core.k8s:
    state: present
    definition:
      kind: Issuer
      apiVersion: cert-manager.io/v1
      metadata:
        name: "{{ item.value.name }}"
        namespace: "{{ issuerNamespace }}"
      spec:
        acme:
          email: "{{ acme_email }}"
          server: "{{ item.value.server }}"
          privateKeySecretRef:
            name: "{{ secretKeyRef }}"
          solvers:
            - dns01:
                cloudflare:
                  email: "{{ acme_email }}"
                  apiTokenSecretRef:
                    name: "{{ secretName }}"
                    key: "{{ secretKeyRef }}"
              selector:
                dnsZones:
                  - "{{ domain }}"
    kubeconfig: "{{ kubeConfigDestination | default('~/.kube/config') }}"
  loop: "{{ lookup('ansible.builtin.dict', certManager) }}"
  connection: local
  delegate_to: localhost
