---
# tasks file for IaC/k8s/tf/roles/k8s kubernetesSecret
- name: Create k8s secret(s)
  connection: local
  delegate_to: localhost
  kubernetes.core.k8s:
    state: present
    definition:
      type: Opaque
      kind: Secret
      apiVersion: v1
      metadata:
        name: "{{ item.value.name }}"
        namespace: "{{ item.value.namespace }}"
      data:
        api-token: "{{ item.value.data.secretValue | b64encode }}"
    kubeconfig: "{{ kubeConfigDestination | default('~/.kube/config') }}"
  loop: "{{ lookup('ansible.builtin.dict', secrets) }}"
